@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --footer-height: 27px;
  --header-height: 36px;
  --sidebar-1-width: 58px;
  --sidebar-2-width: 280px;
}

@font-face {
  font-family: "Consolas" !important;
  src: local("Consolas") url(/src/fonts/CONSOLA.TTF) format("truetype");
}

.wrapper {
  max-height: calc(100vh - var(--footer-height) - var(--header-height));
  min-height: calc(100vh - var(--footer-height) - var(--header-height));
  font-family: "Consolas" !important;
}

.sidebar-1,
.sidebar-2 {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.sidebar-1 {
  max-width: var(--sidebar-1-width);
  min-width: var(--sidebar-1-width);
  max-height: calc(100vh - var(--footer-height) - var(--header-height));
  min-height: calc(100vh - var(--footer-height) - var(--header-height));
}

.sidebar-2 {
  max-width: var(--sidebar-2-width);
  min-width: var(--sidebar-2-width);
  max-height: calc(100vh - var(--footer-height) - var(--header-height));
  min-height: calc(100vh - var(--footer-height) - var(--header-height));
}

.sidebar-1-item svg,
.sidebar-1-item img {
  padding: 12px;
}

.sidebar-1-item {
  min-height: var(--sidebar-1-width);
  max-height: var(--sidebar-1-width);
  margin-bottom: 4px;
}

.header,
.header div {
  max-height: var(--header-height);
  min-height: var(--header-height);
}

.footer,
.footer div {
  max-height: var(--footer-height);
  min-height: var(--footer-height);
}

a:hover {
  cursor: pointer;
}
